<div style="position: relative;">
  <video #videoElement id="videoElement" style="position: abso" autoplay playsinline></video>
  <canvas #outputCanvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0px; top: 0px;"></canvas>
</div>

<div class="p-2 space-y-2">
  <span>{{ gestureDetected }}</span>

  <div class="flex items-center space-x-2">
    <p-checkbox [(ngModel)]="showLandmarks" [binary]="true" inputId="showLandmarks"></p-checkbox>
    <label for="showLandmarks">Show hand landmarks?</label>
  </div>
</div>

<div class="p-2 space-y-2">
  <p>Hold the gesture to perform action</p>

  <div class="flex flex-col">
    <div class="flex flex-row items-center">
      <i class="pi pi-globe"></i>
      &nbsp;
      <p>Open YouTube ~ open palm</p>
    </div>
    <div class="flex flex-row items-center">
      <i class="pi pi-globe"></i>
      &nbsp;
      <p>Open Google ~ point up</p>
    </div>
    <div class="flex flex-row items-center">
      <i class="pi pi-globe"></i>
      &nbsp;
      <p>Open VUB ~ closed fist</p>
    </div>
  </div>
</div>